<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ .Hugo.Generator }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <meta name="keywords" content="{{ if .Keywords }}{{ delimit .Keywords ", " }}{{ else if and .IsPage .Params.tags }}{{ delimit .Params.tags ", " }}{{ else }}{{ range $term, $val := .Site.Taxonomies.categories }}{{ lower (humanize $term) }}, {{ end }}{{ end }}">
    {{ $default_noindex_kinds := slice "section" "taxonomy" "taxonomyTerm" }}
    {{ $noindex_kinds := .Site.Params.noindex_kinds | default $default_noindex_kinds }}
    {{ $is_noindex_true := and (isset .Params "noindex") .Params.noindex }}
    {{ if or (in $noindex_kinds .Kind) ($is_noindex_true) }}
      <meta name="robots" content="noindex">
    {{ end }}
    {{ partial "meta/name-author.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ partial "meta/ogimage-maybe.html" . }}
    {{ partial "meta/theme-color.html" . }}
    {{ if eq .Kind "home" }}
      {{ partial "head/site-verification.html" . }}
    {{ end }}
    {{ template "_internal/google_analytics_async.html" . }}
    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if (isset .Params "prev") }}
      <link rel="prev" href="{{ .Params.prev }}">
    {{ end }}
    {{ if (isset .Params "next") }}
      <link rel="next" href="{{ .Params.next }}">
    {{ end }}
    {{ partial "head/favicon.html" . }}
    {{ partial "global-styles.html" . }}
    {{ $lazylist := findRE "class=\".*?\\blazyload\\b.*?\"|class=lazyload\b" .Content }}<!-- http://regexr.com/3f9d1 -->
    {{ if ge (len $lazylist) 1 }}
      <script async src="/js/lazysizes.min.js"></script>
    {{ end }}
    {{ if .Page.IsHome }}
      <script src="{{ "js/service-worker-registration.js" | absURL }}"></script>
    {{ end }}
    {{ if ne .Site.Params.seo.disable_bpg true }}
      <script async src="/js/bpgdec8a.js"></script>
      <script async src="/js/bpgdec8.js"></script>
      <script async src="/js/bpgdec.js"></script>
    {{ end }}
  </head>
  {{ $theme_variant := .Site.Params.theme_variant | default "hack dark" }}
  <body class="{{ $theme_variant }} main container">
    <header>{{ block "header" . }}{{ end }}</header>
    <main>{{ block "main" . }}{{ end }}</main>
    <footer>{{ block "footer" . }}{{ end }}</footer>
  </body>
</html>
