<link rel="manifest" href="manifest.json">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="Dreamt It">
<meta name="apple-mobile-web-app-title" content="Dreamt It">
<meta name="theme-color" content="#ff2e88">
<meta name="msapplication-navbutton-color" content="#ff2e88">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" type="image/png" sizes="192x192" href="sandis_192.png">
<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="sandis_192.png">